/* Style général de la page */
body{
	background-image: url("./img/alpa.jpg");
	background-attachment:fixed;
	margin: 0px;
	padding: 0px;
	font-family: "Calibri";
}

#header{
	width: 1000px;
	margin: auto;
	padding: auto;
	height: 200px;
}

#header_menu{
	background-image: url("./img/arr_plan.png");
	border-radius: 5px;
	width: 1000px;
	margin: auto;
	margin-bottom: 15px;
	padding: 10px;
	height: 40px;
}

#header_logo_img{
	position: relative;
	top: 20px;
	left: 100px;
}

#header_logo_txt{
	position: relative;
	top: 20px;
	left: 130px;
}	

#page{
	width: 1000px;
	margin: auto;
	padding: 15px;
	background-image: url("./img/arr_plan.png");
	
	padding-top: 5px;
	border-radius: 5px;
}

#foot{
	/*background-image: url("./img/arr_plan.png");
	background-color: white;*/
	border-radius: 5px;
	text-align: center;
	text-decoration: underline;
	width: 1000px;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	color: black;
}

#prix{
	text-align: right;
	margin-right: 40px;
}

#foot_span:hover{
	cursor: pointer;
	color: white;
}

h1{
	color: white;
}

label{
	width : 100px;
}


ul li{
	display: inline-block;
	width:150px;
	margin-right:30px;
	padding-left: 20px;
	padding-right: 20px; 
	font-size: 1.2em;
	border: 1px solid lightblue;
	border-radius: 5px;
	background: rgb(0,120,174);
	color: white;
	text-align: center;
}

ul li:hover{
	cursor: pointer;
}